html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

p {
	padding: 0 40px 0 40px;
}

.green {
	color: green;
}
.red {
	color: red;
}
#map {
	height: 540px;
	width: 960px;
	padding: 0 40px 0 40px;
}
